<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>SZTPL</title>
  <meta name="description" content="Template">
  <meta name="author" content="CDV">

  <link rel="stylesheet" href="template/default/css/styles.css?v=1.0">
</head>
<body>
{% block body %}{% endblock %}
<script src="/template/default/js/scripts.js"></script>
</body>
</html>
